/* ===== General Styling ====== */
/* ========== Navbar ========== */
/* =========== Hero =========== */
/* =========== Main =========== */
/* ======= Media Querry ======= */

/* =============================== General Styling ============================== */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --clr-primary-900: #0D0D0D;
    --clr-primary-800: #3D403F;
    --clr-secondary-700: #735B4D;
    --clr-secondary-600: #9FA6A5;
    --clr-secondary-500: #D9CEC5;
    --ff-primary: 'Montserrat', sans-serif;
    --ff-secondary: 'Roboto', sans-serif;
    --transition: all .2s;
}

body{
    background-color: var(--clr-primary-900);
    font-family: var(--ff-secondary);
    color: var(--clr-secondary-500);
}

a{
    text-decoration: none;
    color: var(--clr-secondary-500);
}

li{
    list-style-type: none;
}

h1{
    font-size: 4rem;
    font-family: var(--ff-primary);
    text-transform: capitalize;
    padding-bottom: .4em;
    color: #fff;
}

h2{
    font-size: 2rem;
    font-family: var(--ff-primary);
    padding-bottom: 2em;
    color: #fff;
}

.button{
    font-family: inherit;
    font-size: 2rem;
    border: 2px solid #fff;
    border-radius: 5px;
    cursor: pointer;
}

.button-primary{
    background-color: hsla(0, 0%, 0%, .7);
    color: #fff;
    padding: .5em 1.5em;
    transition: var(--transition);
}

.button-secondary{
    background-color: hsla(0, 0%, 0%, .9);
    color: #fff;
    font-size: 1.1rem;
    padding: .3em .9em;
    margin-top: .5em;
    transition: var(--transition);
}

.button-primary:hover, .button-secondary:hover{
    letter-spacing: .1em;
    background-color: hsla(0, 0%, 0%, .9);
}

/* ====================================== Navbar ================================== */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .6em;
    height: 10vh;
}

.brand-name{
    font-family: var(--ff-primary);
    color: var(--clr-secondary-500);
    font-size: 3rem;
}

.navbar-links ul{
    display: flex;
}

.nav-link{
    display: block;
    font-size: 1.5rem;
    padding: .6em;
    transition: var(--transition);
}

.nav-link:hover{
    background-color: var(--clr-primary-800);
    letter-spacing: .05em;
}

.toggle{
    position: absolute;
    top: 1em;
    right: 1em;
    display: none;
    cursor: pointer;
    transition: var(--transition);
}

.toggle:active{
    font-size: 1.1rem;
}

.fa-solid{
    font-size: 2rem;
}

/* ===================================== Hero =================================== */

.hero{
    height: 90vh;
    width: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.7)), url(./images/pexels-laura-garcia-4246796.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6em;
    text-align: center;
}

/* ====================================== Main ================================== */

.article-heading{
    text-align: center;
    padding: 1.5em 1em;
    line-height: 1.2em;
    letter-spacing: .1em;
}

.products-center{
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
}

.img-container{
    min-height: 15em;
    border: 2px solid #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product1{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/pexels-pixabay-364822.jpg);
    background-size: cover;
}

.product2{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/pexels-jatin-anand-125779\ \(1\).jpg);
    background-size: cover;
}

.product3{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/pexels-antony-trivet-9878597.jpg);
    background-size: cover;
}

.product4{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/pexels-antony-trivet-9898253.jpg);
    background-size: cover;
}

h3{
    font-size: 2.2rem;
}

h4{
    font-size: 1.5rem;
}

/* =============================== Media Querry ============================== */

@media (max-width: 800px) {
    .toggle{
        display: flex;
    }

    .navbar-links{
        display: none;
        width: 100%;
    }

    nav{
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul{
        width: 100%;
        flex-direction: column;
    }

    .nav-link{
        text-align: center;
        z-index: 2;
        background: hsla(0, 0%, 0%, .9);
    }

    .navbar-links.active{
        display: flex;
    }
}